$clr-bg-1: var(--ui-clr-bg-1);
$clr-bg-2: var(--ui-clr-bg-2);
$clr-bg-3: var(--ui-clr-bg-3);

$clr-txt: var(--ui-clr-txt);
$clr-txt-muted: var(--ui-clr-txt-muted);
$clr-txt-h: var(--ui-clr-txt-h);

$clr-primary: var(--ui-clr-primary);
$clr-secondary: var(--ui-clr-secondary);
