$clr-primary: var(--ui-clr-primary);
$clr-primary-dark: var(--ui-clr-primary-dark);
$clr-primary-light: var(--ui-clr-primary-light);

$clr-secondary: var(--ui-clr-secondary);
$clr-secondary-dark: var(--ui-clr-secondary-dark);
$clr-secondary-light: var(--ui-clr-secondary-light);

$clr-bg-1: var(--ui-clr-bg-1);
$clr-bg-2: var(--ui-clr-bg-2);
$clr-bg-3: var(--ui-clr-bg-3);

$clr-txt: var(--ui-clr-txt);
$clr-txt-muted: var(--ui-clr-txt-muted);
$clr-txt-h: var(--ui-clr-txt-h);

$icon-font-src: url('/fonts/webui-icons/webui-icons.woff') format('woff');
$icon-font-name: 'webui-icons';

$icons: (
    'menu': '\e900',
    'home': '\e901'
);