@use './variables' as var;

@font-face {
    font-family: var.$icon-font-name;
    src: var.$icon-font-src;

    font-weight: normal;
    font-style: normal;
}

i.ui-icon {
    font-family: var.$icon-font-name;
    font-style: normal;
}

@each $name, $code in var.$icons {
    .#{$name}:before {
        content: $code;
    }
}