@use '../variables' as var;

:root {
	--ui-clr-primary: #{var.$color-primary};
	--ui-clr-primary-t: #{rgba(var.$color-primary, 0.5)};
	--ui-clr-primary-light: #{lighten(var.$color-primary, 10%)};
	--ui-clr-primary-dark: #{darken(var.$color-primary, 10%)};

	--ui-clr-secondary: #{var.$color-secondary};
	--ui-clr-secondary-t: #{rgba(var.$color-secondary, 0.5)};
	--ui-clr-secondary-light: #{lighten(var.$color-secondary, 10%)};
	--ui-clr-secondary-dark: #{darken(var.$color-secondary, 10%)};

	--ui-clr-bg-1: #{var.$color-bg-light};
	--ui-clr-bg-2: #{darken(var.$color-bg-light, 10%)};
	--ui-clr-bg-3: #{darken(var.$color-bg-light, 20%)};

	--ui-clr-txt: #{var.$color-txt-light};
	--ui-clr-txt-muted: #{lighten(var.$color-txt-light, 10%)};
	--ui-clr-txt-h: #{darken(var.$color-txt-light, 10%)};
}

@media (prefers-color-scheme: dark) {
	:root {
		--ui-clr-bg-1: #{var.$color-bg-dark};
		--ui-clr-bg-2: #{lighten(var.$color-bg-dark, 10%)};
		--ui-clr-bg-3: #{lighten(var.$color-bg-dark, 20%)};

		--ui-clr-txt: #{var.$color-txt-dark};
		--ui-clr-txt-muted: #{darken(var.$color-txt-dark, 10%)};
		--ui-clr-txt-h: #{lighten(var.$color-txt-dark, 10%)};
	}
}
